<div class="container-fluid">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <!--h1>:(</h1-->
                <h1>&#9785;</h1>
            </div>
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
            <a href="/">go back to home &nbsp;<span class="fa fa-chevron-right fa-lg"></span></a>
        </div>
    </div>
</div>